@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
$font-poppins: "Roboto", sans-serif;
body {
    font-family: $font-poppins;
}

.swiper-1 {
    height: 600px;
}

.swiper-slide {
    background-position: center;
    background-size: auto;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-pagination-bullet-active {
    background: #fff;
}
